streamlit>=1.38.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langgraph==0.2.19
langchain-chroma==0.1.4
chromadb==0.5.3
dashscope==1.20.1
pydantic==2.10.5
pydantic-settings==2.6.1
python-dotenv==1.0.1
PyYAML==6.0.1